/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace view "view.*";
@namespace views "views.*";

.global {
	font-family: sans-serif;
	fontSize: 20;
	focusColor:#b44a11;
}

s|Button {
	fontSize: 16;
	errorColor:#660e07;
	accentColor: #cca551;
	focusColor: #b44a11;
	chromeColor: #878a68;
}

s|TextInput {
	skinClass: ClassReference("skins.TextInputSkin");
	fontSize: 16;
	focusColor: #b44a11;
	focusedTextSelectionColor:#cca551;
}

s|TextArea {
	skinClass: ClassReference("skins.TextAreaSkin");
	fontSize: 16;
	focusColor: #b44a11;
	focusedTextSelectionColor:#cca551;
}

s|CheckBox {
	skinClass: ClassReference("skins.CheckBoxSkin");
	focusColor:#b44a11;
}

s|Image {
	skinClass: ClassReference("skins.ImageSkin");
}

s|DropDownList{
	alternatingItemColors:#cca551;
	focusColor:#b44a11;
}

s|NavigatorContent {
	skinClass:ClassReference("skins.NavigatorContentSkin");
}

mx|TabNavigator {
	fontSize: 16;
	borderVisible: false;
}

views|ScrimError {
	skinClass:ClassReference("skins.ScrimErrorSkin");
}

view|IconButton {
	skinClass: ClassReference("skins.IconButtonSkin");
}

.actionListStyle {
	skinClass: ClassReference("skins.PlainListSkin");
}

.afflictionsListStyle {
	skinClass: ClassReference("skins.AfflictionsListSkin");
	fontSize:20;
	focusColor:#b44a11;
}

.characterListStyle {
	skinClass: ClassReference("skins.CharacterListSkin");
	focusColor:#b44a11;
}

.possessionsListStyle {
	skinClass: ClassReference("skins.PossessionsListSkin");
	focusColor:#b44a11;
}

.skillsListStyle {
	skinClass: ClassReference("skins.SkillsListSkin");
	focusColor:#b44a11;
}

.titleLabelStyle {
	fontSize: 24;
	fontWeight: bold;
	color: #b44a11;
}

.boldLabelStyle {
	fontSize: 20;
	fontWeight: bold;
	color: #b44a11;
}

.errorTitleLabelStyle {
	fontWeight: bold;
	fontSize: 24;
	color: #660e07;
}

.errorLabelStyle {
	fontSize: 20;
	fontStyl: italic;
	color: #660e07;
}

.linkButtonStyle {
	fontSize: 20;
	color: #0000ff;
	textDecoration:underline;
}

.tabNavigatorTabStyle {
	errorColor:#660e07;
	accentColor: #cca551;
	focusColor: #b44a11;
	chromeColor: #878a68;
}

.emphasisLabelStyle {
	fontSize: 20;
	fontWeight:bold;
}

.subtextLabelStyle {
	fontSize: 16;
}
